            <tr id="item-<%= item.id %>">
              <td><%= item.name %></td>
              <td><%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></td>
              <td>   <%= item.name %> created <%= time_ago_in_words(item.created_at) %> ago </td>
            </tr>
